{% extends "layout.html" %}
{% block content %}
    <h1>About MediConnectSearch</h1>


    <p>MCS has been at the forefront of expanding access to affordable, comprehensive health services in the U.S. for decades.  MCS is the largest provider of primary care for Medicaid beneficiaries in the U.S.
        Beyond our walls, MCS reaches even more individuals through our community-based outreach and education models, which foster a connection between health education and action.
        An early leader in educating and enrolling community members in Medicaid enrollment, MCS is dedicated to developing the right outreach strategies to engage and assess our 30,000 uninsured patients for new health coverage opportunities.
    </p>
{% endblock content %}